*{
    margin: 1px;
    padding: 1px;
    border: 1px solid white;
}


body{
    background: rgb(230, 237, 240);
    font-family: Helvetica, sans-serif;

}

#container{
    width: 80%; 
    margin:1px auto;
    border: 2px solid black;
}

header{
    background: white;
    width: 80px;
}

content{
    background: red;
    width: 100%;
    border: 3px solid green;
}

#Enlaces{
    width: 100%; 
    margin:0% auto;
    border: 0px solid black;
}