@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#E934B7, #FFCD1C, #830f4f)
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    position: sticky;
}

header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 10px;
    
}

header ul li a{
   text-decoration: none; 
   padding: 6px 15px;
   color: white;
   border-radius: 10px;
}

header ul li a.Carrito
{
    font-size: larger;
}


header ul li a.Lupa
{
    font-size: larger;
}

header ul li a:hover,
header ul li a.active
{
    color: purple;;
    background: white;

}

footer{
    color:#ffff
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

section img#Estrellas{
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 11;
}

section img#Montaña_detras{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 12;
}

section img#Montaña_lago{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 13;
}

section img#Lago{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 14;
}

section img#Arboles_frente{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 15;
}

section img#Arboles_detras{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 16;
}


#text {
    color: #ffff;
    font-weight: 500;
    white-space: nowrap;
    font-size: 100px;
    text-transform: uppercase;
    padding-top: 80px;
    position: relative;
    letter-spacing: 1px;
    z-index: 9;
}

.Principal
{
    position: relative;
    padding: 100px;
    background-color: #010059;
}

/* Carusel */

#carousel{
    align-items: center;
    justify-content: center;
}

.carousel-container {
    width: 700px;
    margin: auto;
    overflow: hidden;
    position:relative;
    left: 0%;
    border-radius: 5px;
    margin-top: 20px;
    height: 750px;
}

.carousel-content {
    display: flex;
    transition: 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.product {
    padding: 20px;
    text-align: center;
    color:#ffff;
    background-color: #010059;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width:700px;
    height:auto;
}

.prev-btn,.next-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Carusel */

.NoPagPpal{
    background: #010059;
    color: #ffff;
    align-content: center;
}
