

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3f73afd8;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #999ecc;
    color: rgb(79, 53, 129)
}
 h1 {
    
    color: rgb(41, 26, 26);
    padding: 24px 16px;
    text-align: center;
    size: 48px
;
 }